#!/bin/sh

CAT=/bin/cat

if [ "${METHOD}" = "loopback" ]; then
   exit 0
fi

# Only run from ifup.
if [ "${MODE}" != "start" ]; then
   exit 0
fi

/usr/local/bin/get-ip-address.sh > /etc/issue
echo "" >> /etc/issue
${CAT} /etc/issue-standard >> /etc/issue

exit 0
