# {{ ansible_banner }}

deb ftp://{{ debian_mirror }}/debian jessie {{ component }}
#deb-src ftp://{{ debian_mirror }}/debian jessie {{ component }}

#deb ftp://{{ debian_mirror }}/debian jessie-updates {{ component }}
#deb-src ftp://{{ debian_mirror }}/debian jessie-updates {{ component }}
