#!/bin/sh
# {{ ansible_banner }}


CHPASSWD=/usr/sbin/chpasswd
PASSWD=/usr/bin/passwd
SED=/bin/sed


extendedWarning() {
   ${CAT} << END_OF_FILE
   o reset and expire user passwords
END_OF_FILE
}


getusernames() {
   echo "{{ login_users }}"      | \
      ${SED} -e "s/^\[u'//"      | \
      ${SED} -e "s/'\,\ u'/\ /g" | \
      ${SED} -e "s/'\]$//"
}


expireUserPasswords() {
   expireUserPasswords_exitCode=${EXIT_SUCCESS}
   logT 'Beginning expireUserPasswords'

   usernames=$(getusernames)
   insecure_default_password={{ insecure_default_password }}

   ${CAT} << END_OF_FILE

WARNING: The passwords for the following users will be expired and set to
"${insecure_default_password}". Have these users change their passwords
IMMEDIATELY!

   ${usernames}

END_OF_FILE

   expireUserPasswords_confirm=no

   while [ "${expireUserPasswords_confirm}" != 'yes' ]; do
      read -p 'Do you understand? (yes/no)? ' expireUserPasswords_confirm
   done

   for u in ${usernames}; do
      logT "Resetting password for user ${u}"
      echo "${u}:${insecure_default_password}" | ${CHPASSWD}

      if [ ${?} -gt 0 ]; then
         logE 'Error occurred resetting password for user ${u}'
         expireUserPasswords_exitCode=${EXIT_FAILURE}
      fi

      logT "Expiring password for user ${u}"
      ${PASSWD} --expire ${u}

      if [ ${?} -gt 0 ]; then
         logE 'Error occurred expiring password for user ${u}'
         expireUserPasswords_exitCode=${EXIT_FAILURE}
      fi
   done

   logT 'Finishing expireUserPasswords'
   return ${expireUserPasswords_exitCode}
}


main() {
   main_exitCode=${EXIT_SUCCESS}

   expireUserPasswords

   if [ ${?} -gt 0 ]; then
      logE 'expireUserPasswords failed.'
      main_exitCode=${EXIT_FAILURE}
   fi

   return ${main_exitCode}
}


